@font-face {
  font-family: "Nekst-Black";
  font-style: normal;
  font-weight: 900;
  src: local("Nekst-Black"), url(/public/fonts/Nekst-Black.woff2),
    url(/public/fonts/Nekst-Black.woff);
}
@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  src: local("Gilroy"), url(/public/fonts/Gilroy-Regular.woff2),
    url(/public/fonts/Gilroy-Regular.woff2);
}
