body {
  margin-left: auto;
  margin-right: auto;
  max-width: 1344px;
  height: 100vh;
}

#root {
  height: 100%;
}

.App {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}

.app__title {
  font-family: "Nekst-Black", sans-serif;
  font-weight: 900;
  font-size: 54px;
  width: 753px;
  margin-bottom: 32px;
}

.container-button {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  margin-bottom: 44px;
}
.container-button__input {
  width: 32%;
  position: relative;
}

.container-button__input_disabled {
  opacity: 0.4;
}

input[type="range"] {
  -webkit-appearance: none;

  height: 2px;
  background: #e1e1e1;
  border-radius: 5px;
  background-image: linear-gradient(#ff9514, #ff9514);
  background-size: 70% 100%;
  background-repeat: no-repeat;
}

/* Input Thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #ff9514;
  cursor: pointer;
  box-shadow: 0 0 2px 0 #555;
  transition: background 0.3s ease-in-out;
}

input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #ff9514;
  cursor: pointer;
  box-shadow: 0 0 2px 0 #555;
  transition: background 0.3s ease-in-out;
}

input[type="range"]::-ms-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #ff9514;
  cursor: pointer;
  box-shadow: 0 0 2px 0 #555;
  transition: background 0.3s ease-in-out;
}

.container-button__input:hover input[type="range"]::-webkit-slider-thumb
{
  width: 25px;
  height: 25px;
}

input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

input[type="range"]::-moz-range-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

input[type="range"]::-ms-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

.inputRange {
  z-index: 1;
  position: absolute;
  bottom: 0px;
  left: 20px;
  right: 20px;
}

.inputNumber-label {
  display: inline-block;
  font-family: "Gilroy";
  font-weight: 400;
  font-size: 16px;
  color: #575757;
  margin-bottom: 24px;
}

.inputNumber {
  background: #f3f3f4;
  border-radius: 16px;
  border: none;
  width: 100%;
  height: 68px;
  padding-left: 24px;

  font-family: "Nekst-Black";
  font-weight: 900;
  font-size: 30px;
  color: #575757;
}

.inputNumber:focus {
  outline: none;
  border: 2px solid #f3f3f4;
  background-color: #ffffff;
}

.inputNumber__symbol {
  position: absolute;
  top: 56px;
  right: 24px;
  bottom: 16px;
  z-index: 1;

  font-family: "Nekst-Black";
  font-weight: 900;
  font-size: 30px;
  color: #575757;
}

.inputNumber__symbol-in-block {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 7px;
  top: 48px;
  bottom: 7px;
  padding: 15px 17px;
  font-family: "Nekst-Black";
  font-weight: 900;
  font-size: 30px;
  color: #575757;
  background: #ebebec;
  border-radius: 16px;
}

.container-result {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #575757;
}

.container-result__month-cost {
  display: flex;
  justify-content: start;
  flex-direction: column;
  width: 32%;
}

.cost-result {
  display: flex;
  justify-content: start;
  flex-direction: column;
  width: 32%;
}

.cost-result__title {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 8px;
}

.cost-result__cost {
  font-family: "Nekst-Black", sans-serif;
  font-weight: 900;
  font-size: 54px;
}

.container-result__button {
  font-family: "Nekst-Black", sans-serif;
  font-weight: 900;
  font-size: 30px;
  color: #ffffff;
  background-color: #ff9514;
  padding: 8px 16px 12px;
  border-radius: 40px;
  height: 68px;
  width: 32%;
  border: none;
}

.container-result__button:hover {
  background-color: #000000;
}

.container-result__button:active {
  background-color: #575757;
}

.container-result__button:disabled {
  background-color: #ff951466;
}

@media (max-width: 1439px) {
  body {
    margin-left: 34px;
    margin-right: 34px;
    height: unset;
  }

  .App {
    margin-bottom: 120px;
  }

  .container-button {
    flex-wrap: wrap;
  }

  .container-button__input {
    width: 100%;
  }

  .container-result {
    flex-wrap: wrap;
  }

  .cost-result {
    width: 48%;
    margin-bottom: 44px;
  }

  .container-result__month-cost {
    width: 48%;
    margin-bottom: 44px;
  }
}

@media (max-width: 1119px) {
  body {
    margin-left: 48px;
    margin-right: 48px;
  }

  .App {
    margin-bottom: 120px;
  }

  .container-result__button {
    width: 48%;
  }

  .cost-result__title {
    color: #333333;
  }
  .cost-result__cost {
    color: #333333;
  }
}

@media (max-width: 767px) {
  body {
    margin-left: 20px;
    margin-right: 20px;
  }

  .app__title {
    font-size: 34px;
    width: unset;
  }

  .App {
    margin-bottom: 86px;
  }

  .inputNumber {
    font-size: 22px;
  }

  .inputNumber__symbol {
    font-size: 22px;
    top: 62px;
  }

  .inputNumber__symbol-in-block {
    right: 6px;
    top: 47px;
    bottom: 6px;
    padding: 15px 17px;
    font-size: 22px;
    color: #333e48;
    background: #ebebec;
    border-radius: 12px;
  }

  .cost-result {
    width: 100%;
  }

  .cost-result__cost {
    font-size: 22px;
  }

  .container-result__month-cost {
    width: 100%;
  }

  .cost-result__title {
    font-size: 14px;
  }

  .container-result__button {
    font-size: 22px;
    width: 100%;
  }
}
